<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta name="author" content="Codecool"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>

    <title>Codecool Shop</title>

    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k"
            crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/icons.css"/>

    <script type="module" src="/static/js/main.js" defer></script>
    <link rel="shortcut icon" href="/static/img/under4b.png" type="image/x-icon" />
</head>

<body>

<div class="header">
    <div id="header-with-logo">
        <img id="header-logo" th:src="@{/static/img/under1b.png}" alt="team_logo">
        <h1>Under Construction</h1>
        <span class="ico-sport ico-sport-archery"><br/>TestIcon</span>
    </div>

    <div class="cart-container">
        <div class="cart-title unselectable">Szelvény</div>
        <div class="cart-item-counter unselectable"></div>
        <div class="cart-content hidden">
            <div class="cart-content-title">
                <h2 class="unselectable">Ticket content</h2>
            </div>
            <div class="cart-content-body">
                <div class="cart-content-matches"></div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="menu-items">
        <div class="filters">
            <div class="sport-filter">
                <label for="sport-select">Choose a sport:</label>
                <select name="sport" id="sport-select">
                    <option th:each="sport,iterStat : ${sports}" th:attr="value=${sport.getId()}"
                            th:text="${sport.getName()}"></option>
                </select>
            </div>
            <div class="country-filter">
                <label for="country-select">Choose a country:</label>

                <select name="country" id="country-select">

                    <option th:each="country,iterStat : ${countries}" th:attr="value=${country.getId()}"
                            th:text="${country.getName()}"></option>

                </select>
            </div>
        </div>
    </div>

    <div id="matches" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4" th:each="match,iterStat : ${matches}">
            <div class="card" th:attr="data-matchId=${match.getId()}">
                <div class="card-header">
                    <h4 class="card-title" th:text="${match.getHomeTeam()} + ' - ' + ${match.getAwayTeam()}">Product
                        name</h4>
                    <p class="card-text" th:text="${match.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-odds" data-outcome="home">
                        <a class="btn btn-success" href="#">
                            <span>H</span>
                            <br>
                            <span th:text="${match.getHomeOdds()}"></span>
                        </a>
                    </div>
                    <div class="card-odds" data-outcome="draw">
                        <a class="btn btn-success" href="#">
                            <span>D</span>
                            <br>
                            <span th:text="${match.getDrawOdds()}"></span>
                        </a>
                    </div>
                    <div class="card-odds" data-outcome="away">
                        <a class="btn btn-success" href="#">
                            <span>V</span>
                            <br>
                            <span th:text="${match.getAwayOdds()}"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<div th:replace="footer.html :: copy"></div>

</body>
</html>