<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>

<div th:fragment="copy">
    <div class="footer">
        <div class="infos">
            <div>
                <span class="info-text">Customer Service</span></br>
                <span class="info-text">Budapest, Little car street 42.</span></br>
                <span class="info-text">06 1 204-5675</span>
            </div>
        </div>
        <div class="footer-body">
            &copy; All rights reserved </br>
            by Under Construction
        </div>
        <div class="eightteen">
            <div class="eightteen-symbol">18</div>
        </div>
    </div>
</div>

</body>
</html>
