body {
    background: #4c97ca;
}

/*Header Content*/
.header {
    width: 100%;
    padding: 10px 10% 20px 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#header-with-logo {
    display: inline-flex;
    align-items: center;
}

#header-logo {
    width: 80px;
    padding: 10px;
    background: #4c97ca;
}

.header h1 {
    color: #fff;
    text-shadow: 0 0 4px rgba(255, 255, 255, .3), 0 0 6px rgba(255, 255, 255, .2);
    margin: 0;
}

.cart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 120px;
    height: 90px;
    background: #C5D3F5;
    border-radius: 20px;
}

.cart-title {
    font-size: 1.2em;
    margin: 0;
    padding: 5px;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, .1), 0 0 6px rgba(0, 0, 0, .2);
}

.cart-text {
    text-align: center;
}

.cart-item-counter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 2px solid #d78b00;
    color: #fff;
    text-shadow: 0 0 4px rgba(0, 0, 0, .1), 0 0 6px rgba(0, 0, 0, .2);
}
/*Header Content*/

/*Main Content*/
.container {
    width: 100%;
    padding: 10px 5% 0 5%;
    background: #fff;
    border-radius: 25px;
}

.menu-items {
    background: #C5D3F5;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.card {
    flex-direction: unset !important;
}

.card-header {
    width: 200%;
}

.card-body {
    display: inline-flex;
    justify-content: space-evenly;
    width: 100%;
    padding: 1rem;
}

#matches {
    display: block;
}

/*.card-odds {*/
/*    width: 60px;*/
/*    height: 60px;*/
/*}*/

.btn {
    width: 60px;
    height: 60px;
}

.hidden {
    visibility: hidden;
}

.filters {
    width: 60%;
    display: inline-flex;
    justify-content: space-between;
}

.sport-filter,
.country-filter {
    margin: 20px;
}

.col.col-sm-12.col-md-6.col-lg-4 {
    max-width: 100% !important;
    flex: 0 !important;
    margin: 24px 0;
}

/*Main Content*/









/*Original CSS from skeleton - Currently UNUSED*/
.glyphicon {
    margin-right:5px;
}

.thumbnail
{
    margin-bottom: 20px;
    padding: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    border-radius: 0px;
}
.thumbnail img
{
    margin-top: 10px;
}
.item.list-group-item
{
    float: none;
    width: 100%;
    background-color: #fff;
    margin-bottom: 10px;
}
.item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
{
    background: #428bca;
}

.item.list-group-item .list-group-image
{
    margin-right: 10px;
}
.item.list-group-item .thumbnail
{
    margin-bottom: 0px;
}
.item.list-group-item .caption
{
    padding: 9px 9px 0px 9px;
}
.item.list-group-item:nth-of-type(odd)
{
    background: #eeeeee;
}

.item.list-group-item:before, .item.list-group-item:after
{
    display: table;
    content: " ";
}

.item.list-group-item img
{
    float: left;
}
.item.list-group-item:after
{
    clear: both;
}
.list-group-item-text
{
    margin: 0 0 11px;
}

/*Original CSS from skeleton - Currently UNUSED*/




